.js-example-placeholder-single, .js-example-basic-multiple {
    width: 80%;
    background-color: black;
    margin: 10px;
    display: inline-block;
}
#tscale, #seas {
    width: 35%; /* less room needed ? */
}
#dload label {
    color: white;
    font-weight: 650;
}
input#latitude, input#longitude {
    background-color: black;
    color: white;
    border: solid white 1px;
    border-radius: 4px;
}