.js-example-placeholder-single, .js-example-basic-multiple {
    width: 80%;
    background-color: black;
    margin: 10px;
    display: inline-block;
}
.select2.select2-container.select2-container--default {
    margin-right: 10px;
}
#seas {
    width: 30%; /* less room needed ? */
}
#tscale {
    width: 25%;
}
#dload label {
    color: white;
    font-weight: 600;
    letter-spacing: 0.4px;
}
input#latitude, input#longitude {
    background-color: black;
    color: white;
    border: solid #aaa 1px;
    border-radius: 4px;
    margin-right: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*hide arrows in number input*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: white !important;
    letter-spacing: 0.75px;
}