.grid {
    display: grid;
    grid-auto-flow: row;
    align-items: start;
}
  
  .grid-traffic {
    grid-template-columns: 1fr 3fr;
  }
  
  @media (min-width: 768px) {
    .grid {
      grid-gap: var(--grid-gap);
    }
    .grid-hero-sidebar {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(1, auto);
    }    
    .grid-hero-sidebar .hero {
      grid-column: 1 / 4;
    }
    .grid-hero-sidebar .sidebar {
      grid-column: 4 / span 1;
      width: 23vw;
    }
  }
  /* KEEN */
  .keen-dashboard {
    padding-top: 80px;
    background: #f2f2f2;
    font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  .keen-dataviz {
    background: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
    box-sizing: border-box;
  }
  
  .keen-dataviz-title {
    border-bottom: 1px solid #e7e7e7;
    border-radius: 2px 2px 0 0;
    font-size: 13px;
    padding: 2px 10px 0;
    text-transform: uppercase;
  }
  
  .keen-dataviz-stage {
    padding: 10px;
  }
  
  .keen-dataviz-notes {
    background: #fbfbfb;
    border-radius: 0 0 2px 2px;
    border-top: 1.5px solid white;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 11px;
    padding: 0 10px;
  }
  
  .chart-wrapper {
    /*background: #fff;*/
    background-color: black;
    /*border: 1px solid #e2e2e2;*/
    border: 1px solid black;
    border-radius: 5px; 
    margin-bottom: 10px;
  }
  
  .chart-wrapper .chart-title {
    border-bottom: 1.5px solid white;
    color: white;
    font-size: 15px;
    /*font-weight: 200;*/
    font-weight: bold;
    padding: 5px 7px 4px;
    letter-spacing: 2px;
  }
  
  .chart-wrapper .chart-stage {
    overflow-x: hidden;
    padding: 2px 5px;
  }
  
  .chart-wrapper .chart-notes {
    background-color: black;
    border-top: 1.5px solid white;
    color: white;
    font-size: 12px;
    padding: 6px 7px 4px;
    position: relative;
  }
  
  .chart-container {
    display: flex;
  }
  
  .chart-container .chart {
    padding-left: 4px;
    padding-right: 4px;
    flex: 1;
    min-width: 0;
  }
  
  @media (min-width: 768px) {
    .chart-wrapper {
      margin-bottom: 0;
    }
  }
  .text-muted {
    color: #777;
  }
  small,
  .small {
    font-size: 85%;
  }
  .lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
  }
  @media (min-width: 768px) {
    .lead {
      font-size: 21px;
    }
  }
  .container {
    padding-left: 6px;
    padding-right: 6px; /* margin is like outer spacing, padding is inner spacing b/w element's content and border*/
    margin-left: 4%;
    margin-right: 4%;
    margin-top: auto;
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :before,
  :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  body {
    /*margin: 0;*/
    margin: 0 3% 0 3%;
    width: 94%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: black;
  }
  a {
    color: #428bca;
    text-decoration: none;
  }
  :root {
    --grid-gap: 15px;
  }