/*filters*/
.js-example-placeholder-single, .js-example-basic-multiple {
    width: 300px;
    /*background-color: white;*/
    background-color: black;
    margin: 10px;
    /*position: relative;*/
} 
.seasonCheck, .timeCheck, .locCheck {
    margin: 3px;
}
#mapid {
    height: 460px;
}
h4 { /* for marker popups*/
    text-align: center;
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.select2-container--default .select2-results__option[aria-disabled=true] {
    display: none;
}
.select2-container--default .select2-selection--multiple:before { /*try diff style for arrow on multiple selection*/
    content: ' ';
    display: block;
    position: absolute;
    border-color: white transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    right: 6px;
    margin-left: -4px;
    margin-top: -2px;top: 50%;
    width: 0;cursor: pointer
}
.select2-container--open .select2-selection--multiple:before {
  content: ' ';
  display: block;
  position: absolute;
  border-color: transparent transparent white transparent;
      border-width: 0 4px 5px 4px;
  height: 0;
  right: 6px;
  margin-left: -4px;
  margin-top: -2px;top: 50%;
  width: 0;cursor: pointer
}
.select2-results, .select2-search--dropdown, 
.select2-search__field, .select2-container--default .select2-selection--single,
.select2-search__field, .select2-container--default .select2-selection--multiple { 
    background-color: #000;
    color: white;
}
.select2-selection__placeholder,
.select2-search__field::-webkit-input-placeholder,
.select2-search__field::placeholder {
    color: white !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: white white white white;
}
.bg-dark {
    background-color: black!important;
    font-weight: bold;
}
.bg-dark .navbar-brand {
    letter-spacing: 2px;
}
.formSub {
    background: none;
    color: white;
    border: 0.3px solid white;
    text-align: center;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    letter-spacing: 1px;
}
.formSub:hover {
    background:white;
    color:black; 
    border-style: hidden;
}
