body {
    background: #f2f2f2;
    padding: 60px 0 0 8px;
   /* padding-top overridden by theme */
}
body hr {
    border-color: #d7d7d7;
    margin: 10px 0;
}
/*custom navbar */
#scanfcode
{
  border-radius:0px;
  background:#fff;
  padding:10px;
  font-size:17px;
}
/* logo or main heading */
#logo
{
  font-size:20px;
  font-weight:bolder;
  color:#00004d;
  letter-spacing:2px;
}
/* navigation links*/
#link a
{
  color:#01325d;
  margin:0 20px 0 10px;
  letter-spacing:1.5px;
}
/* navigation link with right border */
#first-link
{
  padding-right:6px;
  border-right:solid 1px #ccc;
}
/* sign up link button and toggle button */
#button-link ,#toogle-button
{
  color:#f2f2f2;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0,0,0,.2);
  border-radius: 2px;
  background-color: #fa6a48;
  line-height: 17px;
}
#button-link a
{
  color:#f2f2f2;
}




/*
.navbar-inverse .navbar-nav > li > a, .navbar .navbar-brand {
    text-decoration: none;
}
.navbar-logo {
    margin-top: 1px;
}
.navbar-logo img {
    margin-right: 12px;
}
.navbar-author {
    margin-left: 10px;
    font-size: 15px;
}
.navbar .dropdown-menu .fa {
    min-width: 20px;
}
.navbar .dropdown-menu {
    min-width: 150px;
    max-height: 500px;
    overflow: auto;
}
*/
.chart-wrapper, .nav-tabs-custom, .sbframe-commentary {
    background: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    margin-bottom: 8px;
    margin-right: 8px;
}
.chart-title {
    border-bottom: 1px solid #d7d7d7;
    color: #666;
    font-size: 14px;
    font-weight: 300;
    padding: 7px 10px 4px;
}
.chart-wrapper .chart-title:empty {
    display: none;
}
.chart-wrapper .chart-stage {
    overflow: hidden;
    padding: 5px 10px;
    position: relative;
}
.chart-wrapper .chart-notes {
    background: #fbfbfb;
    border-top: 1px solid #e2e2e2;
    color: #808080;
    font-size: 12px;
    padding: 8px 10px 5px;
}
/* CSS for handling flexbox layout */
#dashboard-container {
    visibility: hidden;
}
.tab-content > .dashboard-page-wrapper.active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.dashboard-page-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.dashboard-row-orientation {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.dashboard-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.dashboard-row-flex {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.dashboard-column-orientation {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.dashboard-column {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.chart-wrapper-flex {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.chart-stage-flex {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
}
.chart-shim {
    position: absolute;
    left: 8px;
    top: 8px;
    right: 8px;
    bottom: 8px;
}
.no-padding .chart-shim {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.flowing-content-shim {
    overflow: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding-left: 8px;
    padding-right: 8px;
}
.flowing-content-container {
    padding-top: 8px;
    padding-bottom: 8px;
}
.chart-stage .table-bordered {
    border: none;
}
.chart-stage .table-bordered > tbody > tr > th, .chart-stage .table-bordered > tfoot > tr > th, .chart-stage .table-bordered > tbody > tr > td, .chart-stage .table-bordered > tfoot > tr > td {
    border: none;
}
.chart-stage .table-bordered > tbody > tr > td {
    border-top: 1px solid #ddd;
}
.chart-stage .table-bordered > thead > tr > th {
    border: none;
    border-bottom: 2px solid #ddd;
}
.bootstrap-table table > thead {
    background-color: #fff;
}
.bootstrap-table table.data, .bootstrap-table table.shiny-table {
    width: inherit !important;
}
.bootstrap-table table.data > tbody > tr > th, .bootstrap-table table.shiny-table > tbody > tr > th {
    border-top: none;
    border-bottom: 2px solid #ddd;
    padding: 5px;
}
.bootstrap-table .data td[align=right] {
    font-family: inherit;
}
.chart-wrapper form {
    padding-left: 5px;
    padding-right: 5px;
}
.shiny-input-container label {
    font-weight: normal;
}
.chart-stage .html-widget {
    width: 100% !important;
    height: 100% !important;
}
.chart-stage .html-widget-static-bound {
    width: 100% !important;
    height: 100% !important;
}
.chart-stage .shiny-bound-output {
    width: 100% !important;
    height: 100% !important;
}
/* Omit display of empty paragraphs */
.chart-shim > p:empty {
    display: none;
}
.chart-stage > p:empty {
    display: none;
}
/* Omit display of special knitr options div*/
.chart-stage .knitr-options {
    display: none;
}
/* Automatically resizing images */
.image-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
}
.image-container img {
    opacity: 0;
    overflow: hidden;
}
/* Value box */
.value-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-right: 8px;
    margin-bottom: 8px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.value-box > .inner {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.value-box .value {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 3px 0;
    white-space: nowrap;
    padding: 0;
}
.value-box .caption {
    font-size: 15px;
}
.value-box .caption > small {
    display: block;
    font-size: 13px;
    margin-top: 5px;
}
.value-box .icon i {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 80px;
    color: rgba(0, 0, 0, 0.15);
}
.linked-value:hover {
    cursor: pointer;
}
.value-box.linked-value:hover {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
/* STORYBOARD */
.storyboard-nav button {
    background: transparent;
    border: 0;
    opacity: 0.3;
    outline: none;
    padding: 0;
}
.storyboard-nav button:hover, .storyboard-nav button:hover {
    opacity: 0.5;
}
.storyboard-nav button:disabled, .storyboard-nav button:disabled {
    opacity: 0.1;
}
.storyboard-nav .sbnext, .storyboard-nav .sbprev {
    float: left;
    width: 2%;
    height: 120px;
    font-size: 50px;
}
.storyboard-nav .sbprev {
    text-align: left;
    width: 2%;
}
.storyboard-nav .sbnext {
    float: right;
    text-align: right;
    margin-right: 8px;
}
.storyboard-nav .sbframelist {
    margin: 0 auto;
    width: 94%;
    height: 120px;
    overflow: hidden;
    text-shadow: none;
    margin-bottom: 8px;
}
.storyboard-nav .sbframelist ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}
.storyboard-nav .sbframelist ul li {
    float: left;
    width: 270px;
    height: 100%;
    padding: 10px 10px 10px 10px;
    margin-right: 8px;
    background: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    color: #3a3c47;
    text-align: left;
    font-size: 14px;
    cursor: pointer;
}
.storyboard-nav .sbframelist ul li:last-child {
    margin-right: 0px;
}
.storyboard-nav .sbframelist ul li.active {
    color: #fff;
    background: #b8b8b8;
}
.sbframe-commentary {
    width: 300px;
    background: #fbfbfb;
    font-size: 14px;
}
.sbframe-commentary ul {
    padding-left: 22px;
}
.sbframe.active {
    display: flex;
}
.sbframe:not(.active) {
    display: none;
}
/* NAV TABS */
.nav-tabs-custom > .nav-tabs {
    margin: 0;
    border-bottom: 1px solid #d7d7d7;
    color: #666;
    font-size: 14px;
    font-weight: 300;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.nav-tabs-custom > .nav-tabs > li {
    border-top: 3px solid transparent;
    margin-bottom: -1px;
    margin-right: 5px;
}
.nav-tabs-custom > .nav-tabs > li > a, .nav-tabs-custom > .nav-tabs > li > a:active {
    color: #666;
    font-weight: 300;
    font-size: 14px;
    border-radius: 0;
    padding: 3px 10px 5px;
    text-transform: none;
}
.nav-tabs-custom > .nav-tabs > li:not(.active) > a {
    border-bottom-color: transparent;
}
.nav-tabs-custom > .nav-tabs > li > a.text-muted {
    color: #999;
}
.nav-tabs-custom > .nav-tabs > li > a, .nav-tabs-custom > .nav-tabs > li > a:hover {
    background: transparent;
    margin: 0;
}
.nav-tabs-custom > .nav-tabs > li > a:hover {
    color: #999;
}
.nav-tabs-custom > .nav-tabs > li:not(.active) > a:hover, .nav-tabs-custom > .nav-tabs > li:not(.active) > a:focus, .nav-tabs-custom > .nav-tabs > li:not(.active) > a:active {
    border-color: transparent;
}
.nav-tabs-custom > .nav-tabs > li.active {
    border-top-color: #3c8dbc;
}
.nav-tabs-custom > .nav-tabs > li.active > a, .nav-tabs-custom > .nav-tabs > li.active:hover > a {
    background-color: #fff;
    color: #666;
}
.nav-tabs-custom > .nav-tabs > li.active > a {
    border-top-color: transparent;
    border-left-color: #d7d7d7;
    border-right-color: #d7d7d7;
}
.nav-tabs-custom > .nav-tabs > li:first-of-type {
    margin-left: 0;
}
.nav-tabs-custom > .nav-tabs > li:first-of-type.active > a {
    border-left-color: transparent;
}
.nav-tabs-custom > .nav-tabs.pull-right {
    float: none !important;
}
.nav-tabs-custom > .nav-tabs.pull-right > li {
    float: right;
}
.nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type {
    margin-right: 0;
}
.nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type > a {
    border-left-width: 1px;
}
.nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type.active > a {
    border-left-color: #d7d7d7;
    border-right-color: transparent;
}
.nav-tabs-custom > .nav-tabs > li.header {
    line-height: 35px;
    padding: 0 10px;
    font-size: 20px;
    color: #666;
}
.nav-tabs-custom > .nav-tabs > li.header > .fa, .nav-tabs-custom > .nav-tabs > li.header > .glyphicon, .nav-tabs-custom > .nav-tabs > li.header > .ion {
    margin-right: 5px;
}
.nav-tabs-custom > .tab-content {
    background: #fff;
    padding: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.nav-tabs-custom > .tab-content > .chart-wrapper {
    background: #fff;
    border: none;
    margin: 0;
}
.nav-tabs-custom > .tab-content > .active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.nav-tabs-custom .dropdown.open > a:active, .nav-tabs-custom .dropdown.open > a:focus {
    background: transparent;
    color: #999;
}
@media (max-width: 767px) {
    .value-box {
        text-align: center;
        margin-right: 8px;
   }
    .value-box .icon {
        display: none;
   }
}
/* Fixed position sidebar */
.section.sidebar {
    position: fixed;
    top: 51px;
   /* overridden by theme */
    left: 0;
    bottom: 0;
    border-right: 1px solid #e2e2e2;
    background-color: white;
   /* overridden by theme */
    padding-left: 10px;
    padding-right: 10px;
    visibility: hidden;
    overflow: auto;
}
.section.sidebar form p:first-child {
    margin-top: 10px;
}
/* Embedded source code */
#flexdashboard-source-code {
    display: none;
}
.featherlight-content #flexdashboard-source-code {
    display: inline-block;
}
.featherlight-content {
    width: 80%;
    max-width: 800px;
    padding: 0 !important;
    border-bottom: none !important;
}
.featherlight:last-of-type {
    background: rgba(0, 0, 0, 0.7);
}
.featherlight-inner {
    width: 100%;
}
.featherlight-content pre {
    margin: 0;
    border: 0;
    background: #fff;
    font-size: 12px;
}
.unselectable {
    -ms-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
#flexdashboard-source-code code {
    -ms-user-select: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}
/* DataTables Tweaks */
.dataTables_filter input[type="search"] {
    -webkit-appearance: searchfield;
    outline: none;
}
.dataTables_wrapper.no-footer .dataTables_info {
    padding-top: 0;
}
table.dataTable thead th {
    border-bottom: 1px solid #d7d7d7;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #d7d7d7;
}
/* Mobile phone only CSS */
.desktop-layout div.section.mobile {
    display: none;
}
.mobile-layout div.section.no-mobile {
    display: none;
}
.mobile-figure {
    display: none;
}
/*
.navbar-inverse {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
.navbar-inverse .navbar-brand {
    color: #777;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}
.navbar-inverse .navbar-text {
    color: #777;
}
.navbar-inverse .navbar-nav > li > a {
    color: #777;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
.navbar-inverse .navbar-nav > .disabled > a, .navbar-inverse .navbar-nav > .disabled > a:hover, .navbar-inverse .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}
.navbar-inverse .navbar-toggle {
    border-color: #ddd;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #ddd;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #e7e7e7;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
   }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
   }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
   }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
   }
}
.navbar-inverse .navbar-link {
    color: #777;
}
.navbar-inverse .navbar-link:hover {
    color: #333;
}
.navbar-inverse .btn-link {
    color: #777;
}
.navbar-inverse .btn-link:hover, .navbar-inverse .btn-link:focus {
    color: #333;
}
*/
.navbar-inverse .btn-link[disabled]:hover, fieldset[disabled] .navbar-inverse .btn-link:hover, .navbar-inverse .btn-link[disabled]:focus, fieldset[disabled] .navbar-inverse .btn-link:focus {
    color: #ccc;
}
body {
    padding-top: 60px;
    background: rgba(0, 0, 0, 0.015);
}
.section.sidebar {
    top: 51px;
   /* background-color: #f5f5f5;
    */
    background-color: #f8f8f8;
}
.value-box {
    color: inherit;
}
.bg-primary {
    background-color: rgba(51, 122, 183, 0.4);
}
.storyboard-nav .sbframelist ul li.active {
    background-color: rgba(51, 122, 183, 0.7);
}
.nav-tabs-custom > .nav-tabs > li.active {
    border-top-color: rgba(51, 122, 183, 0.4);
}
html {
    box-sizing: border-box;
    font-size: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-family: 'Lato', sans-serif;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30% center;
}
h1, h2, h3 {
    font-family: 'Lora', serif;
    margin-top: 0;
    line-height: 1.1;
    margin-bottom: 0.5em;
}
h1 {
    font-size: calc(2rem + 2vw);
}
h4 {
    text-align: center;
}
div {
    display: block;
}
.box {
    position: relative;
    background-color: #3a5097;
    color: #fff;
    width: 90vw;
    max-width: 700px;
    padding: 2rem;
    border-radius: 12px;
    top: 15vh;
    left: 5vw;
    font-size: 1.25rem;
    line-height: 1.5;
}
#mapid {
    height: 450px;
}
.dropbtn {
    background-color: #04aa6d;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}
/* The search field */
#myInput {
    box-sizing: border-box;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}
/* The search field when it gets focus/clicked on */
#myInput:focus {
    outline: 3px solid #ddd;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
    max-height: 200px;
    overflow: scroll;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 6px 10px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}
.multipleSelection {
    width: 300px;
    background-color: white;
}
.selectBox {
    position: relative;
    display: inline;
}
.selectBox select {
    width: 100%;
    font-weight: bold;
}
.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#checkBoxes, #checkBoxes2, #checkBoxesLoc {
    display: none;
    border: 1px #8df5e4 solid;
    max-height: 400px;
    overflow: scroll;
}
#checkBoxes label, #checkBoxes2 label, #checkBoxesLoc label {
    display: block;
}
#checkBoxes label:hover, #checkBoxes2 label:hover, #checkBoxesLoc label:hover {
    background-color: #4f615e;
}
.dashboard-page-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.dashboard-column-orientation {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
#dashboard-container {
    visibility: hidden;
}
.dashboard-column {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.chart-wrapper, .nav-tabs-custom, .sbframe-commentary {
    background: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    margin-bottom: 8px;
    margin-right: 8px;
}
.chart-wrapper-flex {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.chart-title {
    border-bottom: 1px solid #d7d7d7;
    color: #666;
    font-size: 14px;
    font-weight: 300;
    padding: 7px 10px 4px;
}
.chart-wrapper .chart-stage {
    overflow: hidden;
    padding: 5px 10px;
    position: relative;
}
.chart-stage-flex {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
}
.chart-shim {
    position: absolute;
    left: 8px;
    top: 8px;
    right: 8px;
    bottom: 8px;
}
.chart-stage .knitr-options {
    display: none;
}
/*
.navbar-inverse {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
*/
.btn-group-vertical > .btn-group:after, .btn-group-vertical > .btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
.btn-group-vertical > .btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}
.btn-group-vertical > .btn-group:after, .btn-group-vertical > .btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-right: -15px;
    margin-left: -15px;
}
/*
.navbar-inverse .navbar-toggle {
    border-color: #ddd;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
*/
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
/*
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.pull-left {
    float: left !important;
}
.navbar-logo {
    margin-top: 1px;
}
.navbar-inverse .navbar-brand {
    color: #777;
}
.navbar-inverse .navbar-nav > li > a, .navbar .navbar-brand {
    text-decoration: none;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-author {
    margin-left: 10px;
    font-size: 15px;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #e7e7e7;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
}
.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-right: -15px;
    margin-left: -15px;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 340px;
}
.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 #ffff1a;
    box-shadow: inset 0 1px 0 #ffff1a;
}
.collapse {
    display: none;
}
.navbar-nav {
    margin: 7.5px -15px;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
*/
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
/* Dashboard CSS from Keen IO Dashboards (https://github.com/keen/dashboards) */
