/*filters*/
.show {
    display: block;
}
.multipleSelection, .js-example-basic-single {
    width: 300px;
    background-color: white;
    /*position: relative;*/
}
.selectBox {
    position: relative;
    display: inline;
}
.selectBox select {
    width: 100%;
    font-weight: bold;
}
.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#checkBoxes, #checkBoxes2, #checkBoxesLoc {
    display: none;
    border: 1px black solid;
    max-height: 350px;
    /*overflow-x: hidden;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: #f1f1f1;
    position: absolute;
    max-width: 95%;
}
#checkBoxes label, #checkBoxes2 label, #checkBoxesLoc label {
    display: block;
    margin-right: 5px;
}
#checkBoxes label:hover, #checkBoxes2 label:hover, #checkBoxesLoc label:hover {
    background-color: #4f615e;
}
.seasonCheck, .timeCheck, .locCheck {
    margin: 3px;
}
#mapid {
    height: 460px;
}
h4 { /* for marker popups*/
    text-align: center;
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}
